<div class="card">
    <h1>Dashboard</h1>
    <p>a) Click on “Dashboard” on the left menu</p>
    <p>b) The Dashboard contains a summary of recently completed Templates/forms.</p>
    <p>c) Note can be created here as well. Simply enter the desired information and click on “Create” when finished.
    </p>
    <p>d) Future updates to the Dashboard are under evaluation. These may include graphical representations of in
        progress and completed forms, etc. Exact changes have not yet been determined.</p>

    <h2>Sub-title</h2>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</div>