<div class="content-wrapper">
    <div class="content">
        <div class="card">
            <div class="space"></div>
            <h2>Create a Template</h2>
            <p>How to create a template</p>
            <div class="space"></div>
        </div>
        <mat-card class="card">
            <h3>Video Guide</h3>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    class="frame"></iframe>
            </div>
        </mat-card>
        <div class="space-small"></div>

        <mat-card class="card">
            <div>
                <h3>Walk Through</h3>
                <p>a) When viewing the Hive, click on “Template Builder” in the left-hand menu.</p>
                <div class="space-small"></div>
                <p>b) If this is the first new Template in a Hive, simply enter a unique Template title and description.
                </p>
                <div class="space-small"></div>
                <p class="tab">i) If other Templates already exist, click on “+ Create” at top right</p>
                <div class="space-small"></div>
                <p class="tab">ii) Example: Winter Prep Checklist</p>
                <div class="space-small"></div>
                <p>c) Click on “Create Template” (see figure 1)</p>
                <div class="space-small"></div>
                <img class="full-width" src='assets/img/img8.jpg' alt="Screen Shot">
                <p class="figure">Figure 1</p>
                <div class="space-small"></div>
                <p>d) Add Content to the new Template</p>
                <div class="space-small"></div>
                <div class="tab">
                    <p>i) Click on “+ Add Blank”</p>
                    <img class="full-width" src='assets/img/img9.jpg' alt="Screen Shot">
                    <p class="figure">Figure 2</p>
                    <p>ii) Click on the down arrow on the right-hand side of the screen to expand field. (see figure 3)
                    </p>
                    <img src='assets/img/img10.jpg' alt="Screen Shot">
                    <p class="figure">Figure 3</p>
                    <p>iii) Enter question or action step</p>
                    <p>iv) Enter supporting directions (will show up under question/action step)</p>
                    <p>iv) Enter supporting directions (will show up under question/action step)</p>
                    <div class="tab">
                        <p>(1) Click under New Control field and scroll down to select the appropriate response type.
                            (see
                            figure 4)</p>
                        <img src='assets/img/img11.jpg' alt="Screen Shot">
                        <p class="figure">Figure 4</p>
                        <p>(2) Click on Hint field; add short text that will show up under response field.</p>
                        <p>(3) Click on “Update Control,” if applicable, to view.</p>
                        <p>(4) Click on “Save” to the right of “Text and Details” to save this specific step. (see
                            figure 5)</p>
                    </div>
                    <img class="full-width" src='assets/img/img12.jpg' alt="Screen Shot">
                    <p class="figure">Figure 5</p>
                    <p>vi) Click on “Add Blank” to add any additional steps for this particular template.</p>
                    <p>vii)Repeat for as many questions/action steps as necessary.</p>
                    <p>viii) Steps can be re-ordered by dragging them to change the order if needed.</p>
                    <p>ix) Click on “Update Template” in the upper right-hand corner when done. Failure to do so will
                        result in
                        your changes being lost. (see figure 6)</p>
                    <img class="full-width" src='assets/img/img13.jpg' alt="Screen Shot">
                    <p class="figure">Figure 6</p>
                </div>
                <div class="space-small"></div>
                <p>e) Click on “Template Builder” in the left-hand menu. The template will now show up in the list of
                    available
                    templates.</p>
                <p class="tab">i) To edit existing template, click on the three vertical dots, then “Edit Template
                    Details”</p>
                <div class="space-small"></div>
                <p>f) To create another template, repeat steps starting with 5a above.</p>
            </div>
        </mat-card>
        <div class="space"></div>
        <mat-card class="card">
            <div class="button-row flex">
                <button mat-button (click)="pageBackward()">
                    <mat-icon>arrow_back_ios</mat-icon>
                    Back
                </button>
                <div class="spacer"></div>
                <button mat-button (click)="pageForward()">
                    Continue
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

        </mat-card>
        <div class="space"></div>
    </div>
</div>