<div class="card">
        <h1>Create a Template</h1>
        <p>a) When viewing the Hive, click on “Template Builder” in the left-hand menu.</p>
        <p>b) If this is the first new Template in a Hive, simply enter a unique Template title and description.</p>
        <p class="tab">i) If other Templates already exist, click on “+ Create” at top right</p>
        <p class="tab">ii) Example: Winter Prep Checklist</p>
        <p>c) Click on “Create Template”</p>
        <img class="full-width" src='assets/img/img8.jpg' alt="Screen Shot">
        <p>d) Add Content to the new Template</p>
        <img class="full-width" src='assets/img/img9.jpg' alt="Screen Shot">
            <div class="tab">
            <p>i) Click on “+ Add Blank”</p>
            <p>ii) Click on the down arrow on the right-hand side of the screen to expand field.</p>
            <p>iii) Enter question or action step</p>
            <img src='assets/img/img10.jpg' alt="Screen Shot">
            <p>iv) Enter supporting directions (will show up under question/action step)</p>
            <p>iv) Enter supporting directions (will show up under question/action step)</p>
            <div class="tab">
                <p>(1) Click under New Control field and scroll down to select the appropriate response type.</p>
                <p>(2) Click on Hint field; add short text that will show up under response field</p>
                <img src='assets/img/img11.jpg' alt="Screen Shot">
                <p>(3) Click on “Update Control,” if applicable, to view.</p>
                <p>(4) Click on “Save” to the right of “Text and Details” to save this specific step.</p>
            </div>
            <img class="full-width" src='assets/img/img12.jpg' alt="Screen Shot">
            <p>vi) Click on “Add Blank” to add any additional steps for this particular template.</p>
            <p>vii)Repeat for as many questions/action steps as necessary.</p>
            <p>viii) Steps can be re-ordered by dragging them to change the order if needed.</p>
            <p>ix) Click on “Update Template” in the upper right-hand corner when done. Failure to do so will result in your changes being lost.</p>
            <img class="full-width" src='assets/img/img13.jpg' alt="Screen Shot">
            </div>
        <p>e) Click on “Template Builder” in the left-hand menu. The template will now show up in the list of available templates.</p>
        <p class="tab">i) To edit existing template, click on the three vertical dots, then “Edit Template Details”</p>
        <p>f) To create another template, repeat steps starting with 5a above.</p>
        
        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>
