<div class="card">
    <h1>Definitions</h1>
    <p>There are several components to BeeHive which are defined below:</p>
    <h3><b><u>Templates</u> - </b></h3>
    <p>A reusable form which prompts employees with action steps to follow and questions to answer. This template can be reused for multiple items or purposes.</p>
    <p class="tab"><b>Example</b> – “End of Season Checklist.”</p>

    <div class="space-small"></div>

    <h3><b><u>Items</u> - </b></h3>
    <p>These are the various pieces of equipment or areas which will be examined according to the steps outlined in the Template above.</p>
    <p class="tab">Multiple Items can reference the same Template.</p>
    <p class="tab"><b>Example</b> – Lawn mower, motor boat, and Jet Ski can be three separate Items all using the same Template “End of Season Checklist.”</p>

    <div class="space-small"></div>

    <h3><b><u>Procedures</u> - </b></h3>
    <p>A procedure walks the user through a series of actions and/or questions examining the necessary items and in a particular order if appropriate.</p>
    <p class="tab"><b>Example</b> – “Prepare for Winter” could be a procedure which includes three Items – Lawn Mower, Motor Boat, and Jet Ski.</p>

    <div class="space-small"></div>

    <h3><b><u>Items</u> - </b></h3>
    <p>A catalog enables the user to access one specific Item to examine versus accessing the Item in a specified order as part of a larger Procedure.</p>
    
    <div class="space-small"></div>
    <h2>Sub-Title</h2>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</div>
