<div class="card">
    <h1>What is BeeHive?</h1>
    <p>BeeHive is a configurable data application that can fit into any data collection and record keeping process. In
        the application you create a Hive which is a repository of templates, items, and procedures customized to your
        organization and objective. Each item can be assigned multiple templates to define what information you want to
        collect. The instructions below will outline the process involved.</p>
    
    <div class="space-small"></div>
    
    <h2>Quick Access</h2>

    <div class="card center">
        <div class="swap" routerLink="../creating-a-hive" routerLinkActive="active">
            <mat-card>
                <div class="table-row">
                    <p>Getting Started</p>
                    <span class="spacer"></span>
                </div>

            </mat-card>
        </div>

        <div class="swap" routerLink="../catalog" routerLinkActive="active">
            <mat-card>
                <div class="table-row">
                    <p>Catalogs</p>
                    <span class="spacer"></span>
                </div>

            </mat-card>
        </div>
        <div class="swap" routerLink="../kpi" routerLinkActive="active">
            <mat-card>
                <div class="table-row">
                    <p>Managers</p>
                    <span class="spacer"></span>
                </div>

            </mat-card>
        </div>
        <div class="swap" routerLink="../procedure" routerLinkActive="active">
            <mat-card>
                <div class="table-row">
                    <p>Basic Users</p>
                    <span class="spacer"></span>
                </div>

            </mat-card>
        </div>
    </div>
    <div class="space"></div>
    <!--<mat-card class="card">
            <h3>Sub-title</h3>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    class="frame"></iframe>
            </div>
        </mat-card>-->
</div>