<div class="content-wrapper">
    <div class="content">
        <div class="card">
            <h1>What is BeeHive?</h1>
            <p>BeeHive is a configurable data application that can fit into any data collection and record keeping
                process. In
                the application you create a Hive which is a repository of templates, items, and procedures customized
                to your
                organization and objective. Each item can be assigned multiple templates to define what information you
                want to
                collect. The instructions below will outline the process involved.</p>
        </div>
        <div class="space-small"></div>
        <div class="card">
            <h3>Sub-title</h3>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    class="frame"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="background-primary-color">
    <div class="content-wrapper">
        <div class="content">
            <div class="space"></div>
            <div class="card center">
                <mat-card class="swap" routerLink="../procedure" routerLinkActive="active">
                    <div class="table-row">
                        <p>Getting Started</p>
                        <span class="spacer"></span>
                    </div>
                </mat-card>
                <mat-card class="swap" routerLink="../procedure" routerLinkActive="active">
                    <div class="table-row">
                        <p>Basic Users</p>
                        <span class="spacer"></span>
                    </div>
                </mat-card>
                <mat-card class="swap" routerLink="../procedure" routerLinkActive="active">
                    <div class="table-row">
                        <p>Catalogs</p>
                        <span class="spacer"></span>
                    </div>
                </mat-card>
                <mat-card class="swap" routerLink="../procedure" routerLinkActive="active">
                    <div class="table-row">
                        <p>Managers</p>
                        <span class="spacer"></span>
                    </div>
                </mat-card>
            </div>
            <div class="space"></div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="card center">
        <div class="swap">
            <div class="table-row">
                <p><b>Learn</b></p>
                <span class="spacer"></span>
            </div>
        </div>
        <div class="swap">
            <div class="table-row">
                <p><b>Stay Connected</b></p>
                <span class="spacer"></span>
            </div>
        </div>
        <div class="swap">
            <div class="table-row">
                <p><b>Support</b></p>
                <span class="spacer"></span>
            </div>
        </div>
        <div class="swap">
                <div class="table-row">
                    <span class="spacer"></span>
                </div>
            </div>
            <div class="swap">
                <div class="table-row">
                    <a href="https://www.youtube.com/" target="_blank">YouTube</a>
                    <span class="spacer"></span>
                </div>
            </div>
            <div class="swap">
                <div class="table-row">
                    <p>Email</p>
                    <span class="spacer"></span>
                </div>
            </div>
    </div>
</div>


<div class="content-wrapper">
    <div class="card">
        <li class="bottomlist-title"><b>Test</b></li>
        <ul>
            <li class="bottomlist-item">Test</li>
        </ul>
    </div>
</div>