<div class="card">
        <h1>Sheets</h1>
        <p>a) The Sheets category in the menu is a list of all completed Templates/forms, as completed by end users. They are read-only and can be viewed by managers and end users.</p>
        <p>b) Click on “Sheets” on the left menu.</p>
        <p>c) This shows all completed Templates/forms from all end users. Click on any to view the details/responses.</p>    
        <img src="test.png" alt="Screen Shot">

        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>