.header-select {
    max-width: 86px;
    font-size: 14px;
  }
  
  .logo-ee {
    object-fit: cover;
    object-position: center;
    height: 44px;
    margin-right: 4px;
    
  }
  .Docs {
    font-size: 26px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }