<div class="content-wrapper">
    <div class="content">

        <div class="card">
            <div class="space"></div>
            <h2>Logging Out</h2>
            <p>How to log out/sign out</p>

        </div>
        <!--<div class="space"></div>
<mat-card class="card">
    <h3>Video Guide</h3>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</mat-card>-->
        <div class="space-small"></div>

        <mat-card class="card">
            <div>
                <h1>Logging Out</h1>
                <div class="space-small"></div>
                <p>a) To log out of the application, click on the three vertical dots at the top righthand portion of
                    the
                    screen.</p>
                <div class="space-small"></div>
                <p>b) Click on “Logout”</p>
            </div>
        </mat-card>

        <div class="space"></div>
        <mat-card class="card">
            <div class="button-row flex">
                <button mat-button (click)="pageBackward()">
                    <mat-icon>arrow_back_ios</mat-icon>
                    Back
                </button>
                <div class="spacer"></div>
            </div>

        </mat-card>
        <div class="space"></div>
    </div>
</div>