<div class="card">
    <div class="space"></div>
    <h2>Creating a Hive</h2>
    <p>How to make a new Hive</p>
    <div class="space"></div>
</div>
<mat-card class="card">
    <h3>Video Guide</h3>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</mat-card>
<div class="space-small"></div>

<mat-card class="card">
    <div>
        <h3>Walk Through</h3>
        <p>a) Click on “New Hive” in the upper right-hand corner of the screen. (see figure 1)</p>
        <img class="full-width" src='assets/img/img2.jpg' alt="Screen Shot">
        <p class="figure">Figure 1</p>
        <p>b) Enter the Hive title and description in the box which appears. (see figure 1)</p>
        <p>c) Click on “Create Hive” (see figure 2)</p>
        <img src='assets/img/img3.jpg' alt="Screen Shot">
        <p class="figure">Figure 2</p>
    </div>
</mat-card>

<div class="space"></div>
<mat-card class="card">
    <div class="button-row flex">
        <button mat-button (click)="pageBackward()">
            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>
        <div class="spacer"></div>
        <button mat-button (click)="pageForward()">
            Continue
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>

</mat-card>
<div class="space"></div>