<div class="card">
        <h1>Creating a Hive</h1>
        <h4>– This is the highest level to store your category of information.</h4>
        <p>a) Click on “New Hive” in the upper right-hand corner of the screen.</p>
        <img src="test.jpeg" alt="Screen Shot">
        <p>b) Enter the Hive title and description in the box which appears.</p>
        <p>c) Click on “Create Hive”</p>
        <img src="test.jpeg" alt="Screen Shot">
        
        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>
