<div class="card">
        <h1>Logging On</h1>
        <p>a) If you are a new user, create a user name and password. Click on “Sign Up.”</p>

        <p>b) If you already have an account, click on “Login” at the bottom of the white box to get to the Login screen to enter your user name and password.</p>
        <div class="space-small"></div>
        <img scr="assets/img/Img 1.png" alt="Screen Shot">
        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>
