<div class="card">
    <h1>Create and Manage Items</h1>
    <p>a) An Item is one level above the templates (forms) you created in Section 5. Multiple templates can be attached
        to an Item. Items can stand alone or roll up to a Procedure (see Section 7). All your Items are listed in the
        Catalog on the left menu (see Section 8).</p>
    <p>b) Click on “Item Manager” from the left menu.</p>
    <p>c) If this is the first new Item in a Hive, simply enter

        an item name (required), searchable tags, and reference number (e.g., vehicle license plate number), as needed.
    </p>
    <p class="tab">i) If other Items already exist, click on “+ Create” at the top righthand part of the screen to bring
        up a new Item box</p>
    <p class="tab">ii) Click “Enter” on your keyboard after creating each tag word or phrase to create multiple tags</p>
    <p>d) Attach the relevant template(s) by clicking on the “ + “ or “ > “.</p>
    <img src="test.png" alt="Screen Shot">
    <p class="tab">i) Remove extra templates from the item by clicking on the garbage can. These will be the questions or action steps the user follows for this Item.</p>
    <p>e) Click on “Create Item” towards the upper right part of the active box. The information will be lost if you do not do so.</p>
    <p>f) The Item now shows up on your Item Manager list in the left menu</p>

    <h2>Sub-title</h2>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</div>