<div class="card">
        <h1>Edit the Hive</h1>
        <h4>- To add users if needed.</h4>
        <p>a) Click on three vertical dots to the right of the hive name.</p>
        <p>b) Click on “Edit Hive”</p>
        <img src='assets/img/img4.jpg' alt="Screen Shot">
        <p>c) Click on “+ Add User”</p>
        <p>d) Enter the email address of the person you are adding and click Search.</p>
        <p>e) Select the user you are adding. The default user level is “Member” which can only add documents to the hive.</p>
        <p>f) Change to Read Only, Manager, etc. if necessary by clicking the down-arrow next to manager and selecting from the drop-down box.</p>
        <p>g) Click on “Update Hive” to save your changes.</p>
        <img class="full-width" src='assets/img/img5.jpg' alt="Screen Shot">

        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>