<div class="card">
    <div class="space"></div>
    <h2>Removal of an incorrectly initiated procedure</h2>
    <p>How to delete a submition for a procedure</p>
    <div class="space"></div>
</div>
<mat-card class="card">
    <h3>Video Guide</h3>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</mat-card>
<div class="space-small"></div>

<mat-card class="card">
    <div>
        <h3>Walk Through</h3>
        <div class="space-small"></div>
        <p>a) If you mistakenly begin the incorrect Procedure (e.g., if you have more than one available to you),
            complete the following steps:</p>
        <div class="space-small">
            <p>i) Click on “Save for Later”.</p>
            <p>ii) This will take you back to the Procedures page and show up as an “In Progress” procedure.</p>
            <p>iii) Click on the Procedure name to reopen it.</p>
            <p>iv) Click on the “Garbage Can” near the top righthand part of the screen. (see figure 1)</p>
        </div>
        <img class="full-width" src='assets/img/img27.jpg' alt="Screen Shot">
        <p class="figure">Figure 1</p>
        <p class="tab">v) Click on “Permanent Delete” in the pop-up screen.</p>
        <div class="space-small"></div>
        <p>b) If you mistakenly begin the incorrect Template/form (e.g., if you have more than one available to you),
            complete the following steps:</p>
        <p class="tab">i) Click on the “Garbage Can” near the top righthand part of the screen.</p>
        <p class="tab">ii) Click on “Permanent Delete” in the pop-up screen. (see figure 2)</p>
        <img src='assets/img/img28.jpg' alt="Screen Shot">
        <p class="figure">Figure 2</p>
    </div>
</mat-card>
<div class="space"></div>
<mat-card class="card">
    <div class="button-row flex">
        <button mat-button (click)="pageBackward()">
            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>
        <div class="spacer"></div>
        <button mat-button (click)="pageForward()">
            Continue
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>

</mat-card>
<div class="space"></div>