<div class="card">
        <h1>Removal/Deleting an Incorrectly Intiated Procedure or Form</h1>
        <p>a) If you mistakenly begin the incorrect Procedure (e.g., if you have more than one available to you), complete the following steps:</p>
        <div class="space-small">
        <p>i) Click on “Save for Later”.</p>
        <p>ii) This will take you back to the Procedures page and show up as an “In Progress” procedure.</p>
        <p>iii) Click on the Procedure name to reopen it.</p>
        <p>iv) Click on the “Garbage Can” near the top righthand part of the screen.</p>
        </div>
        <img src="test.png" alt="Screen Shot">
        <p class="tab">v) Click on “Permanent Delete” in the pop-up screen.</p>
        <p>b) If you mistakenly begin the incorrect Template/form (e.g., if you have more than one available to you), complete the following steps:</p>
        <p class="tab">i) Click on the “Garbage Can” near the top righthand part of the screen.</p>
        <p class="tab">ii) Click on “Permanent Delete” in the pop-up screen.</p>


        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>