<mat-list>

  <!--<mat-divider></mat-divider>
    <h3 matSubheader>Manager</h3>
  
    <mat-list-item routerLink="manage-hives">
      <mat-icon matListIcon>cloud</mat-icon>
      <h4 matLine>Manage Hives</h4>
    </mat-list-item>-->



  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Home</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h3 matLine>Logging on</h3>
  </mat-list-item>


  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Start the Hive
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Creating a Hive</h4>
      </mat-list-item>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Edit the Hive</h4>
      </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Setting Up the Hive
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Select a Hive</h4>
      </mat-list-item>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Create a Template (Forms)</h4>
      </mat-list-item>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Create and Manage Items</h4>
      </mat-list-item>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Create a Procedure</h4>
      </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>


  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Procedure</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Removal/Deleting an Incorrectly Initiated Procedure or From</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Dashboard</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Catalog</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Sheets</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Manager's Veiw
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>KPI's (Key Performance Indicators)</h4>
      </mat-list-item>
      <mat-list-item routerLink="manage-hives">
        <h4 matLine>Data</h4>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-list-item routerLink="manage-hives">
    <h4 matLine>Logout</h4>
  </mat-list-item>
  <mat-divider></mat-divider>










<div class="space"></div>
<div class="space"></div>
<mat-toolbar class="footer">
  <p class="copyright">&copy; 2019 - BeeHive</p>
</mat-toolbar>