<mat-list>

  <mat-list-item routerLink="home" routerLinkActive="active" (click)="buttonPress()">
    <h4 matLine>Home</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item  routerLink="logging-on" routerLinkActive="active">
    <h3 matLine>Logging on</h3>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item  routerLink="definitions" routerLinkActive="active">
    <h3 matLine>Definitions</h3>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Start the Hive
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="creating-a-hive" routerLinkActive="active">
        <h4 matLine>Creating a Hive</h4>
      </mat-list-item >
      <mat-list-item routerLink="edit-the-hive" routerLinkActive="active">
        <h4 matLine>Edit the Hive</h4>
      </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Setting Up the Hive
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="select-a-hive" routerLinkActive="active">
        <h4 matLine>Select a Hive</h4>
      </mat-list-item>
      <mat-list-item routerLink="create-a-template" routerLinkActive="active">
        <h4 matLine>Create a Template (Forms)</h4>
      </mat-list-item>
      <mat-list-item routerLink="create-and-manage-items" routerLinkActive="active">
        <h4 matLine>Create and Manage Items</h4>
      </mat-list-item>
      <mat-list-item routerLink="create-a-procedure" routerLinkActive="active">
        <h4 matLine>Create a Procedure</h4>
      </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>


 
  <mat-list-item routerLink="procedure" routerLinkActive="active">
    <h4 matLine>Procedure</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="removal-an-incorrectly-initiated-procedure" routerLinkActive="active">
    <h4 matLine>Removal/Deleting an Incorrectly Initiated Procedure or From</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="dashboard" routerLinkActive="active">
    <h4 matLine>Dashboard</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="catalog" routerLinkActive="active">
    <h4 matLine>Catalog</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="sheets" routerLinkActive="active">
    <h4 matLine>Sheets</h4>
  </mat-list-item>
 

  <mat-expansion-panel>
    <mat-expansion-panel-header class="drop-down-headers">
      Manager's Veiw
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item routerLink="kpi" routerLinkActive="active">
        <h4 matLine>KPI's (Key Performance Indicators)</h4>
      </mat-list-item>
      <mat-list-item routerLink="data" routerLinkActive="active">
        <h4 matLine>Data</h4>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-list-item routerLink="logging-out" routerLinkActive="active">
    <h4 matLine>Logging Out</h4>
  </mat-list-item>
  <mat-divider></mat-divider>









  
</mat-list>
<div class="space"></div>
<div class="space"></div>
<mat-toolbar class="footer">
  <p class="copyright">&copy; 2019 - BeeHive</p>
</mat-toolbar>