<div class="card">
        <h1>KPI's (Key Performance Indicators) -<i>Manager's Veiw Only</i></h1>
        <p>a) The KPI’s section is designed to reflect Key Performance Indicators from the information contained within that Hive.</p>
        <p>b) By default, it lists the status of any procedures currently in progress along with a list of the most recently activity within the Hive.</p>
        <img class="custome-width" src='assets/img/img29.jpg' alt="Screen Shot">

        
        <h2>Sub-title</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="frame"></iframe>
        </div>
    </div>