<div class="card">
    <h1>Procedure</h1>
    <p>- performance by end user</p>
    <p>a) The Procedures section is a repository for groups of Items. They are visible and available to the end user to
        complete templates/forms. Forms can be accessed from here or from the Catalog section.</p>
    <p>b) Click on “Procedures” on the left menu.</p>
    <p>c) A list of procedures available to the end user will be visible.</p>
    <img src="test.png" alt="Screen Shot">
    <p class="tab">i) If you have one or more procedures already In Progress, those will be visible instead and clicking
        on the name of the in-progress procedure will open it back up to complete it.</p>
    <p class="tab">ii) To see the full list of available procedures, click on “Start” near the top righthand portion of
        the screen. The full list will appear.</p>
    <p>d) Click on “Start” to the right of the relevant procedure.</p>
    <img src="test.png" alt="Screen Shot">
    <p>e) The list of Items within the Procedure will appear.</p>
    <p class="tab">i) Note – Only “Save for Later” will appear available at the bottom of the screen. The option to
        “Complete Procedure” is not available until all Items within the Procedure are complete.</p>
    <img src="test.png" alt="Screen Shot">
    <p>f) Click on Start next to the first Item on the list.</p>
    <p>g) Enter your responses to the questions or action steps specified within that Item.</p>
    <p>h) Click on “Complete” when finished with that Item. A checkmark will replace “Start” next to the completed Item.</p>
    <p class="tab">i) To cancel completing an Item or form, click on “Discard” at the bottom of that form to return to the Procedures page.</p>
    <p>i) If you are interrupted or not able to complete an entire procedure at one time, click on “Save for Later” at the bottom of the procedure page to return to the main dashboard.</p>




    <h2>Sub-title</h2>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="frame"></iframe>
    </div>
</div>